.pokedex-container {
  max-width: 100%; /* Adjust the maximum width as needed */
  max-height: 70%;
  min-height: 800px;
  margin: 0 auto; /* Center the container */

  border: solid white 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.pokemon-list-container {
  height: 600px;
  display: flex;
  /* border: 10px solid black; */
}

.box1 {
  display: flex;
  flex-direction: column;
  background-color: #eddd50;
  opacity: 95%;
  width: 60%;
}
.box2 {
  display: flex;
  flex-direction: column;
  background-image: url('./src/assets/images/pikachu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
}

.pokeball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #f00;
  border-radius: 50%;
  border: 5px solid #000;
  overflow: hidden;
  box-sizing: content-box;
  animation: spin 2s linear infinite;
}

.pokeball::before,
.pokeball::after {
  content: '';
  position: absolute;
}

.pokeball::before {
  width: 100%;
  height: 50%;
  background: #fff;
  top: 0;
  border-bottom: 5px solid #000;
  box-sizing: border-box;
}

.pokeball::after {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.loading-text {
  position: absolute;
  top: 55%;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
}
