* {
  font-family: 'Courier New', Courier, monospace;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.cardInfo {
  border: 5px rgba(0, 0, 0, 0.717) solid;
  border-radius: 25px;
  background-color: rgba(116, 109, 109, 0.478);
  height: 100%;
}

.infocard-header h2 {
  text-decoration: underline;
  text-align: center;
  color: black;
  font-size: 25px;
}
.image-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  background-color: rgba(190, 0, 0, 0.73);
  border-radius: 25px;
}

.image-container div {
  text-align: center;
}
.image-container p {
  margin: 2px auto;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.image-container img {
  width: 100px;
  height: 100px;
}

.details {
  color: black;
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  background-color: ;
}
.details1 {
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 25px;
  padding: 20px 0px;
}

.details2 {
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 25px 25px 0px 0px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 5px 25px;
}

.details2 .detail-item {
  color: black;
  display: flex;
  margin: 5px 0;
  align-items: center;
}

.details2 .detail-item h3 {
  margin-right: 5px;
}
.details3 {
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 0px 0px 25px 25px;
  color: black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px 0;
  background-color: ;
}
.detail-item {
  flex: 1;
  margin: 0 10px;
}

.detail-item h3 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.detail-item p {
  margin: 2px 0;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.types,
.moves-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.types {
  font-size: 12px;
}

.chip {
  background: #f0f0f0;
  border-radius: 16px;
  padding: 5px 10px;
  margin: 5px 0px;
  display: inline-block;
  color: black;
}

.modal-body p {
  font-size: 16px;
  margin: 10px 0;
}

.moves-list {
  max-height: 20px; /* Set the max height for the moves list */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd; /* Optional: Add a border for better visual separation */
  padding: 10px; /* Optional: Add padding */
}

.move-item {
  width: 100%;
  text-align: center;
}
.moves-list p {
  font-size: 20px;
  text-align: center;
}

button {
  background: #f0f0f0;
  border-radius: 16px;
  padding: 5px 10px;
  margin: 15px 0px;
  display: inline-block;
  color: black;
}
